body {
    margin :0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.graph {
    width: 60%;
    height: 60%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
}

.steering-wheel{
    width: 100px;
    height: 100px;
    background-image: url('steering-wheel-state1.jpg'); /*TODO import stw img for HOD*/
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}